@import 'App.scss';
.control-de-playa-modal{
    .modal-content{
        height: calc(100vh - 100px);
        #kilometros{
            @extend .col-8;
        }
        .form-row{
            @extend .mt-1;
        }
        .modal-body{
            overflow-y:auto;
        }
        [role="tablist"]{
            width:100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            margin: 0;
            padding: 0;
        }
        [role="tab"]{
            flex: 1;
            text-align: center;
        }
        .tab-content{
            @extend .w-100;
        }
        .ArticuloListItems{
            @extend .pt-2, .w-100;
            >.form-row:nth-child(1){
                @extend .justify-content-center;
                button{
                    width: 250px;
                }
            }
            >.form-row:nth-child(2){@extend .border-bottom;}
            .titulos{
                font-size: 1.25rem !important;
                [class*="col"]{
                    @extend .text-center, .text-primary;
                }
            }
            .listItem{
                @extend .border-bottom, .py-2;                
                >[class*="col"]:nth-child(1){
                    @extend .d-flex, .align-items-center;
                    font-size: 1.25rem !important;
                }
                .cantidades{
                    .form-row{
                        [class*='col']{
                            font-size:1.25rem !important;
                            @extend .d-flex, .align-items-center, .justify-content-center, .badge, .badge-pill;                            
                        }
                    }
                    .llenos{
                        [class*='col']:not(:nth-child(1)){@extend .badge-success;}
                    }
                    .vacios{
                        [class*='col']:not(:nth-child(1)){@extend .badge-warning;}
                    }
                    .fallados{
                        [class*='col']:not(:nth-child(1)){@extend .badge-danger;}
                    }
                }
            }
        }
        .DispenserListItems{
            @extend .pt-2, .w-100;
            >.form-row:nth-child(n+2){@extend .border, .mx-1;}
            >.form-row:nth-child(1){
                @extend .justify-content-center, .pb-2;
                button{
                    width: 250px;
                }
            }
            >.dispenserItem{
                >[class*='col']{@extend .d-flex, .align-items-center;}
                >[class*='col']:nth-child(1){font-size:1.5rem;}
                >[class*='col']:nth-child(3){@extend .flex-column;}
                label:nth-child(1){@extend .font-weight-bold;}
                label{@extend .p-0;}
            }
        }
        .RepuestosListItems{
            @extend .pt-2, .w-100;
            >.form-row:nth-child(n+2){
                @extend .mx-3, .border; 
                height: 35px;
            }
            >.form-row:nth-child(1){
                @extend .justify-content-center, .pb-2;
                button{
                    width: 250px;
                }
            }
            >.repuestoItem{
                >[class*='col']{@extend .d-flex, .align-items-center;}
                >[class*='col']:nth-child(1){@extend .justify-content-center;}
                >[class*='col']:nth-child(3){@extend .justify-content-center;}
            }
        }
    }
}
.AddArticuloModal{
    .modal-body{
        font-size:1.2rem;
        .form-row{
            @extend .mb-2;
            [class*='col']:not([hidden]){
                @extend .d-flex, .align-items-center;
            }
            .select{
                @extend .w-100;
            }
        }
        .form-row.titulos{
            [class*='col']{@extend .justify-content-center;}
            svg{@extend .mr-1;}
        }
        .form-row.dataFields.llenos{input{@extend .badge-success;}}
        .form-row.dataFields.vacios{input{@extend .badge-warning;}}
        .form-row.dataFields.fallados{input{@extend .badge-danger;}}
        .form-row.dataFields{
            @extend .my-4;
            >[class*='col']:nth-child(1){svg{@extend .mr-1;}}
        }
    }
}