@import "App.scss";
.transacciones{
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;
    } 
    .modal-body{
        >button{
            @extend .mb-3, .w-100;
        }
        >.transaccion{
            @extend .mb-1, .shadow;
            [class*="col"]:nth-child(1){
                @extend .d-flex, .align-items-center, .justify-content-center;
            }
            svg{
                @extend .m-0, .p-0 ;//, .text-success;
                font-size: 3rem;
            }
            .form-label{
                @extend .w-100, .my-0;
            }
        }
    }
}