@import 'App.scss';
.choose{
    .modal-content{
        .modal-header{
            @extend .py-1,.px-2;
            font-size:1.2rem;
        }
        .modal-body{
            @extend .text-center;
            button{
                @extend .w-75, .m-1;
                svg{
                    font-size:1.5rem
                }
                label{
                    @extend .mb-0;
                    width: calc(100% - 1.5rem);
                }
            }
        }
    }
}