@import 'App.scss';
.hojaDeRuta-Layout{
    @extend .border-0;
    border-radius:0;
    height: 100vh;
    overflow-x: hidden;
    >.card-header{
        @extend .border-0, .bg-info, .m-0, .px-1, .py-0, .text-white, .d-flex,.flex-wrap;
        overflow-y: visible;
        border-radius:0;
        height: 1.5rem;
        >.form-label{@extend .p-0;}
        >[class*='col']:nth-child(2){@extend .text-center,.w-100;}
        >[class*='col']:nth-child(3){@extend .text-right;}
        >.menu-items{
            @extend .bg-info, .px-5, .text-center;
            line-height: 0px;
            z-index: 1000;
            >button{
                @extend .w-100, .btn-sm, .mb-2, .text-black-50;
            }
            >.form-label{
                @extend .w-100, .text-muted, .small, .mt-2;
            }
        }
        >.menu-toggle{  
            @extend .p-0;
            margin-top: -1px;
            border-top: 10px solid theme-color("info");
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            z-index: 1000;
        }        
    }     
    >.card-footer{
        @extend .navbar, .d-flex, .justify-content-between, .bg-light, .py-0, .m-0;
        font-size:0.8rem;
        svg{font-size: 1.6em;}
        >.nav-item{
            @extend .text-center, .d-flex, .align-items-center, .flex-column, .mx-2;
            >.form-label{@extend .mb-0;}
        }
        >.nav-item:not(.selected){
            >.form-label{@extend .d-none;}
        }
        >.nav-item.selected{width: 5rem;}
        >#buscar{@extend .my-2;}
    }
    >.card-body{
        @extend .overflow-auto, .p-0; 
    }

}
.hojaDeRuta-listadoClientes{
    @extend .container-fluid,.p-0;
    height: calc(100% - 1px);
    >div.cargando{
        @extend .text-center;
    }
    .form-label{
        @extend .m-0,.p-0;
    }
    .cliente{
        @extend .mb-2, .shadow, .border,.pt-2, .px-3, .small;
        .cliente_info{
            svg{
                @extend .mr-1;
                @extend .font-weight-bold;
                vertical-align: text-top;
            }
            >[class*='col']:nth-child(2){
                @extend .text-right;
                font-size:1.5rem;
                >.form-label{@extend .text-right;}
            }
            >[class*='col']:nth-child(1){
                >.form-label:nth-child(3){
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                >.form-label:nth-child(3),
                >.form-label:nth-child(2){
                    @extend .font-weight-bold;
                }

            }     
        }
        .cliente_status{
            >[class*='col']:nth-child(1),
            >[class*='col']:nth-child(3){@extend .small;}
            >[class*='col']:nth-child(3),
            >[class*='col']:nth-child(5){@extend .text-right;}
            >[class*='col']:nth-child(6){@extend .text-center;}
            >[class*='col']:nth-child(7){@extend .text-center,.h4, .mb-1;}
            >[class*='col']:nth-child(9){
                @extend .text-center;
                >svg{@extend .h2;}
            }
                   
            .formaDePago{
                @extend .bg-info, .text-center, .small, .px-1;
            }
            .bloqueado{@extend .w-100,.bg-danger,.text-white,.text-center,.font-weight-bold;}
            .preventivo{@extend .w-100,.bg-warning,.text-white,.text-center,.font-weight-bold;}
        }
        .cliente_actions{
            >[class*='col']{
                @extend .justify-content-between, .btn, .p-0;
            }
            svg{@extend .h3, .mx-2;}
            >[class*='col']{@extend .text-warning, .text-center;}
            >[class*='col']:first-child{@extend .text-success, .text-left;}
            >[class*='col']:last-child{@extend .text-success, .text-right;}
        }
    }
    .cliente-resumen{
        @extend .p-2, .mb-2, .shadow, .small;
        [class*='col']:nth-child(3),
        [class*='col']:nth-child(8){@extend .text-right;}
        [class*='col']:nth-child(2),
        [class*='col']:nth-child(7){@extend .font-weight-bold;}
        [class*='col']:nth-child(8){@extend .text-info, .font-weight-bold;}
    }
}