@import 'App.scss';
.fichaInfo{
    .modal-header{
        font-size: 1.5rem;
    }
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-body{
        overflow-y: auto;
        background-color: rgba($color: #3af, $alpha: 0.4);
        >.card>.card-header{
            @extend .justify-content-between, .d-flex;
            border-top-color: rgba(0,0,0,0.125);
            border-top-style: solid;
            border-top-width: 1px;
            svg{
                font-size: 1.5rem;
            }
        }
        >.card>.card-body:nth-child(1)>.row{
            [class*='col']:nth-child(even){
                @extend .small;
            }
        }
        .card-body>.contacto{
            margin-left:-1rem;
            margin-right:-1rem;
            margin-bottom: 1rem;
            .card-header{
                background-color: rgba($color: #3af, $alpha: 0.4);
            }
        }
        .card-body>.contacto:last-child{
            margin-bottom: 0;
        }
    }

}