@import 'App.scss';
.cierreRuta{
    
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;        
    }
    .modal-body{
        @extend .overflow-auto;
        font-size: 1.2rem;
        >.form-row{
            @extend .border, .mb-3, .shadow;
            >.form-label:not(:nth-child(1)){
                @extend .text-right;
            }
            svg{
                @extend .align-baseline;
            }
        }
    }
    
}
.declaracionEfectivo{
    
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;        
    }
    .modal-body{
        @extend .overflow-auto;
        >.form-row{
            @extend .mb-4, .justify-content-around;
            button{
                @extend .w-25;
                min-width: 100px;
            }
        }
        >.card{
            @extend .p-2, .border-0;
            >.form-row{
                >.form-label{
                    @extend .text-right;
                }
            }
        }

    }
}
.declaracionCheques{    
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;        
    }
    .modal-body{
        @extend .overflow-auto;
        >.form-row{
            @extend .mb-3;
            >.form-label{
                @extend .my-0,.py-0;
                font-size:1.5rem;
            }
            >.form-label:nth-child(2){
                @extend .text-right;
            }
            svg{
                @extend .align-baseline, .text-info;
            }
        }
        >.form-row:not(:first-child){
            >.form-label{@extend .border;}
            >.form-label:nth-child(1){@extend .border-right-0;}
            >.form-label:nth-child(2){@extend .border-left-0;}
            
            svg{
                @extend .text-danger;
            }

        }
    }
}
.declaracionTarjetas{
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;        
    }
    .modal-body{
        @extend .overflow-auto;
        .form-label{@extend .align-self-center;}
    }

}
.declaracionRetenciones{
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;        
    }
    .modal-body{
        @extend .overflow-auto;
        >.form-row{
            @extend .mb-3;
            >.form-label{
                @extend .my-0,.py-0;
                font-size:1.5rem;
            }
            >.form-label:nth-child(2){
                @extend .text-right;
            }
            svg{
                @extend .align-baseline, .text-info;
            }
        }
        >.form-row:not(:first-child){
            >.form-label{@extend .border;}
            >.form-label:nth-child(1){@extend .border-right-0;}
            >.form-label:nth-child(2){@extend .border-left-0;}
            
            svg{
                @extend .text-danger;
            }

        }
    }
}