@import 'App.scss'; 
.entregaDialog{
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-body{@extend .overflow-auto;}
    .modal-header{
        @extend .justify-content-between, .px-2,.py-1, .align-items-center;
        >.form-label{
            @extend .my-0;
            font-size: 0.875em;
            span.badge{@extend .text-danger;}
        }
    }
    .modal-footer{
        >.form-row:nth-child(1){
            @extend .w-100, .justify-content-end;
        }
        >.form-row:nth-child(2){
            @extend .justify-content-between, .w-100;
            >.form-check{
                @extend .align-items-center, .d-flex;
            }
        }
    }
}
.addArticulo{
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;
    }
    .modal-body{
        overflow-y: auto;
        >.form-row{
            @extend .mb-2;
            >[class*='col']{
                @extend .d-flex;
                svg{
                    font-size:1.5rem;
                    z-index:999;
                    padding-left:3px;
                }
                input{
                    margin-left: -1.5rem;
                    box-sizing: border-box; 
                    padding-left: 2rem;
                    height: 1.5rem;
                }
                input::placeholder{
                    padding-left: 2rem;
                }


            }

        }
        >.card{
            @extend .mb-3;
            .form-label{@extend .my-0;}
            >[class*='col']{
                @extend .d-flex, .px-1, .justify-content-between;
                label{@extend .text-center;}
                //button{width:130px;}
                >.badge{width:40px;}
                >.badge:nth-child(1){@extend .text-left;}
                >.badge:nth-child(3){@extend .text-right;}
            }
            >[class*='col']:not(:nth-child(1)){
                @extend .align-items-center;
                >.badge{width:100px;}
            }
            //svg{@extend .mr-2;}
            svg.star{font-size:1.25rem;}
            svg.loop{font-size:1rem}
        }
    }
}
.articuloEntregado{
    @extend .text-center, .mb-2, .shadow;
    >.form-row{
        font-size:0.75em;
    }
    >.form-row:last-child>.form-label:last-child{
        font-size:2em;
    }
}
.confirmarVenta{
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-header{
        @extend .bg-white, .border-bottom-0;
        .card{
            @extend .w-100,.px-3,.py-2,.shadow;
            .form-label{ @extend .p-0;}
        }
        .form-row{
            @extend .justify-content-around;
            .badge{ @extend .text-red;}
        }
        .form-row:last-child{
            @extend .justify-content-between;
            font-size:0.875em
        }
    }
    .modal-body{
        @extend .overflow-auto;
        .card{
            @extend .px-3,.py-2,.shadow,.mb-3;
            .form-row:nth-child(1), .form-row:nth-child(5){
                @extend .justify-content-around;
            }
            .form-row:not(:nth-child(1)):not(:nth-child(5)){
                @extend .justify-content-between; 
                font-size:0.875em;
            }
            .badge{
                @extend .text-info;
                font-size:1em
            }
        }
    }
    .modal-footer{
        button{ @extend .flex-column, .w-100, .text-center, .bg-info;}
    }
}