@import 'App.scss';

.gestion-cliente-menu{
    font-size:.85rem;
    .modal-header{
        @extend .bg-light;
        //padding-left: 16px !important; 
        svg{
            @extend .my-auto, .mx-2;
        }
        .form-label{
            @extend .m-0,.p-0,.text-center;
        }
    }
    .modal-body{
        >.form-row:not(:nth-child(1)){@extend .my-3;}
        >.form-row:nth-child(1){
            >.col-form-label{@extend .text-center, .py-0;}
        }
    }
}