@import 'App.scss';
.gastos {    
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-body{
        @extend .overflow-auto;
        >.card{
            @extend .shadow, .mb-3, .p-2;
            .form-label:nth-child(2){@extend .text-right;}
            .form-label:nth-child(3){@extend .text-muted;}
        }
    }
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;
    }
    .modal-footer{
        @extend .border-0;
        svg{
            @extend .text-info;
            font-size: 2rem;
        }
    }
}
.nuevoGasto{
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-body{
        @extend .overflow-auto;
    }
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;
    }
    #tipo{
        @extend .w-100;
    }
}