@import 'App.scss';
.loginForm{
    @extend .justify-content-center, .align-items-center, .d-flex;
    form{
        .logo{
            @extend .mb-2, .mt-4;
            width: 192px;
            height: 192px;
        }
        .form-row{
            @extend .justify-content-center, .mt-2, .d-flex;             
            [class*='col']{
                @extend .justify-content-center, .d-flex;
                button{
                    width:100%;
                }
            }
        }
        >.form-row:last-child(){
            .form-label{
                @extend .text-muted, .small;
            }
        }
        width: 100%;
    }
}