@import "App.scss";
.tomarCoordenadas{
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;
    } 
    .PINMAP{
        @extend .text-success;
        font-size: 1.8rem;
        //transform: translate(0,-50%)
    }    
    .map-btn{
        @extend .rounded-pill, .m-2;
    }
    .marker-cliente{
        @extend .text-danger;
        font-size: 2.2rem;
        transform: translate(-50%, -100%);
    }
    
    .marker-reparto{
        @extend .text-info;
        font-size: 2em;
        transform: translate(-50%, -50%);
    }
}