@import 'App.scss';
.cobros_dialog{
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-body{@extend .overflow-auto, .text-center;}
    .modal-footer{
        @extend .border-top-0;
        svg{
            @extend .text-info;
            font-size: 2.5rem;
        }
    }
    
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;        
    }
    .card{
        @extend .shadow, .px-4, .py-2, .mb-3;
        svg{
            font-size:2.5rem;
        }
    }
    .card.recibo_resumen{
        font-size:0.8rem;
        >.form-row{
            @extend .justify-content-between;
        }
    }
    .card.cobro{
        .form-row{@extend .justify-content-between;}
        .form-row:nth-child(2){@extend .align-items-end;}
        .form-row:nth-child(3){ @extend .text-muted;}
    }
}
.cobro_cheque{    
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-body{
        @extend .overflow-auto;
        label{
            @extend .text-muted;
        }
        .container{
            @extend .shadow, .border, .py-4;
        }
        #banco{
            @extend .w-100;
        }
    }
}
.cobro_retencion{ 
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-body{
        @extend .overflow-auto;
        label{
            @extend .text-muted;
        }
        .container{
            @extend .shadow, .border, .py-4;
        }
        #tipo{
            @extend .w-100;
        }
    }
}
.cobro_credito{ 
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-body{
        @extend .overflow-auto;
        label{
            @extend .text-muted;
        }
        .container{
            @extend .shadow, .border, .py-4;
        }
        #banco, #tarjeta{
            @extend .w-100;
        }
    }
}
.cobro_debito{ 
    .modal-body{
        @extend .overflow-auto;
        label{
            @extend .text-muted;
        }
        .container{
            @extend .shadow, .border, .py-4;
        }
        #banco{
            @extend .w-100;
        }
    }
}
.cobro_factura{
    [class*='col']{@extend .px-0;}
    >.cabecera{
        @extend .small;
        .form-label{@extend .my-0;}
        >[class*='col']:nth-child(3){
            @extend .text-right;
            >.form-label{@extend .w-100;}
        }
        >[class*='col']:nth-child(1){
            @extend .text-left;
            >.form-label{@extend .w-100;}
        }
    }
    >.imputacion{
        >[class*='col']:nth-child(1){
            @extend .text-left;
            font-size:0.8rem;
        }
        >[class*='col']:nth-child(4){
            @extend .text-center;
        }
        >[class*='col']:nth-child(5){
            @extend .text-right;
        }
    }
}