@import 'App.scss';

.numericField{
    @extend  .px-1, .p-0, .d-flex;
    min-width: calc(2rem + 80px) !important;
    >.form-label{ 
        @extend .form-control, .form-control-sm, .px-1, .text-center, .my-0, .font-weight-bold, .text-white;
        width: 40px;
    }
    :nth-child(2){
        @extend .border-right-0, .border-left-0, .text-center, .px-0;
        border-radius: 0  !important;
        background-clip: unset !important;
        width: calc(100% - 80px);

    }
    :nth-child(1){
        @extend .bg-secondary, .border-left, .border-right-0;
        border-radius: 10em 0 0 10em !important;
    }
    :nth-child(3){
        @extend .bg-secondary, .border-right, .border-left-0;
        border-radius: 0 10em 10em 0 !important;
    }

}