@import 'App.scss';
.iconBar{
    @extend .navbar, .d-flex, .justify-content-around, .bg-transparent, .py-0, .m-0, .w-100;
    height: 3rem;
    font-size:0.8rem;
    svg{
        font-size: 1.6em;
    }
    >.nav-item{
        @extend .text-center, .d-flex, .align-items-center, .flex-column, .mx-2;
        >.form-label{
            @extend .mb-0;
        }
    }
    >.nav-item:not(.selected){
        >.form-label{@extend .d-none;}
    }
    >.nav-item.selected{
        width: 5rem;
    }
}
