@import "App.scss";
.serviciosTecnicos{
    
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;
    } 
    
    .modal-body{
        overflow-y:auto;
    }
    [role="tablist"]{
        width:100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        margin: 0;
        padding: 0;
    }
    [role="tab"]{
        flex: 1;
        text-align: center;
    }
    .tab-content{
        @extend .w-100; 
    }
    .orden{
        @extend .p-3;
        >.form-label>span.badge{
            @extend .w-100, .p-2, .flex-wrap, .d-flex;
            font-size:0.8;
            >label.form-label{@extend .w-100, .text-left;}
            >span.badge{@extend .w-100, .text-wrap;}
        }
        
    }
}