@import 'App.scss';
.home-menu{    
    @extend .justify-content-center, .align-items-center, .d-block;
    .logo{
        @extend .mb-2, .mt-4;
        width: 192px;
        height: 192px;
    }
    .form-row{
        @extend .justify-content-center, .mt-2;            
        [class*='col']{
            @extend .justify-content-center, .d-flex;
            button{
                width:100%;
                font-size: 1.25rem;
            }
        }
    }
    .form-row.RepartoData{
        @extend .text-info;
        [class*='col']:nth-child(1){@extend .h2;}
        [class*='col']:nth-child(2){@extend .h5;}
    }
    >.form-row:last-child(){
        .form-label{
            @extend .text-muted, .small;
        }
    }
} 