@import "App.scss";
.whatsappShare{
    //.modal-content{
    //    height: 50vh;
    //}
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;
    } 
    .modal-body{
        .card-body{
            padding:1rem;
            [class*='col']:last-child{
                @extend .d-flex;
                svg{
                    font-size:1em;
                    z-index:999;
                    line-height:calc(1.5em + 0.5rem + 2px); 
                    margin:auto 0px;
                }
                button, .form-control{                    
                    margin-right:-1.5em;
                    box-sizing: border-box;
                }
                .form-control{
                    padding-right:1.5em;
                }
            }
        }
        .card-body:not(:last-child){
            [class*='col']:last-child{
                svg{
                    color:white;
                }
            }
        }
        .card-body:last-child{
            [class*='col']:last-child{
                svg{
                    color:gray;
                }
            }
        }
    }
}