@import 'App.scss';
.signature{
    .modal-content{
        height: calc(100vh - 1rem)
    }
    .modal-header{
        @extend .py-1;
    }
    .modal-body{
        @extend .overflow-auto;
        width: 100%;
        height: 100%;
        .sigPad{
            @extend .shadow, .border, .mb-3;
            width:100%;
            height:calc(100vw - 3rem - 2px);
        }
    }
    .modal-footer{
        @extend .justify-content-between;
    }
}