@import "~sass-import-once/sass-import-once";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import 'custom.scss';
@import "~bootstrap/scss/bootstrap";
@import "~react-toastify/dist/ReactToastify.css";
@import "~react-datepicker/dist/react-datepicker";

.rtl{direction:rtl!important;}
.ltr{direction:ltr!important;}
html{
  font-size: 16px;
}
button{
  @extend .align-items-center;
  border-radius: 5rem !important;
  .close{
    font-size: 2rem;
  }
}
form{
  @extend .w-100;
}
.react-datepicker-wrapper{
  @extend .w-100;
  input{
    @extend .form-control, .w-100;
  }
}
body{
  @extend .overflow-hidden, .h-100;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.modal-header{
  @extend .bg-info;
}