@import 'App.scss';
.PNCDialog{
    .modal-content{
        height: calc(100vh - 1rem);
    }
    .modal-body{@extend .overflow-auto;}
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;
    }
    .modal-footer{
        @extend .border-top-0;
        svg{
            @extend .text-info;
            font-size: 2.5rem;
        }
    }

}
.PNCItem{
    @extend .mb-2,.shadow;
    .card-header{
        @extend .justify-content-between, .d-flex;
        .form-label{@extend .my-0;}
    }
    .card-body{
        .badge{ @extend .w-100, .p-2;}
    }
}
.PNCNuevo{
    .modal-header{
        @extend .py-1,.px-2;
        font-size:1.2rem;
    }
    .modal-body{
        >.form-row:nth-child(2){
            .badge{@extend .w-100, .p-2;}
        }
    }
}